---
import SocialIcon from "./SocialIcon.astro";
import { SITE_DATA } from "../constants/contants";
---

<footer class="px-6 py-12 md:px-12 lg:px-16">
  <div class="max-w-5xl mx-auto flex flex-row justify-between items-center">
    <div>
      <p class="text-sm font-medium text-white mb-1">
        Disponible para trabajar
      </p>
      <a href={`mailto:${SITE_DATA.email}`} class="text-xs text-gray-500"
        >{SITE_DATA.email}</a
      >
    </div>

    <div class="flex gap-2">
      <SocialIcon
        classExtra="border border-gray-700"
        name="github"
        href={SITE_DATA.socials.github}
        label="GitHub"
      />
      <SocialIcon
        classExtra="border border-gray-700"
        name="linkedin"
        href={SITE_DATA.socials.linkedin}
        label="LinkedIn"
      />
      <SocialIcon
        classExtra="border border-gray-700"
        name="email"
        href={`mailto:${SITE_DATA.email}`}
        label="Email"
      />
    </div>
  </div>
</footer>
