---
import "../styles/global.css";
import Lenguaje from "./Lenguaje.astro";
import { Image } from "astro:assets";
const { urlProyecto, urlImg, nombre, descripcion, lenguajes } = Astro.props;
// Importa dinámicamente las imagenes
import { imagenes } from "../lib/imagenes.ts";
---

<div class="proyecto rounded-lg border shadow-sm overflow-hidden">
  <a href={urlProyecto}>
    <Image
      class="object-cover w-full h-60"
      src={imagenes[urlImg]()}
      alt=`Imagen de ${nombre}`
      height="240"
      width="360"
      format="webp"
    />
    <div class="text-center">
      <h1 class="text-x1 font-bold">{nombre}</h1>
      <p class="text-gray-700">{descripcion}</p>
      {
        lenguajes.length > 0 && (
          <div class="lenguajes mb-3">
            {lenguajes.map(
              (lang: { nombre: string; color_bg: string; color: string }) => (
                <Lenguaje
                  nombre={lang.nombre}
                  color={lang.color}
                  color_bg={lang.color_bg}
                />
              )
            )}
          </div>
        )
      }
    </div>
  </a>
</div>

<style>
  .proyecto {
    width: 90%;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border: 1px solid gainsboro;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .lenguajes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
  }
</style>
